name: 'checkout-payment-api-tf'
on:
  push:
    branches: [ master ]

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: "Terraform Init"
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 'latest'
        tf_actions_subcommand: "init"     
    
    - name: "Terraform Plan"
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 'latest'
        tf_actions_subcommand: "plan"
        args: '-var="client_secret=${{ secrets.AZ_AKSSP_CLIENT_SECRET }}"'
        
    - name: "Terraform Apply"     
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 'latest'
        tf_actions_subcommand: "apply" 
        args: '-var="client_secret=${{ secrets.AZ_AKSSP_CLIENT_SECRET }}"' 
   
